<form>
  <div class="form-group">
    <label for="email2">Email address</label>
    <input type="email" class="form-control" id="email2" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  
  <div class="form-group">
    <label for="password2">Password</label>
    <input type="password" class="form-control" id="password2" placeholder="Password">
  </div>
  
  <div class="form-group">
    <label for="description1">Description</label>
    <textarea class="form-control" id="description1" rows="3" placeholder="Write your description here..."></textarea>
  </div>
  
  <div class="form-group">
    <label for="group2">You can also add a picture</label>
    <div class="input-group" id="group2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon2"><i class="far fa-file-image"></i></span>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="file2" aria-describedby="addon2">
        <label class="custom-file-label" for="file2">Choose file</label>
      </div>
    </div>
  </div>
  
  <div class="custom-control custom-checkbox form-group">
      <input type="checkbox" class="custom-control-input" id="checkTerms">
      <label class="custom-control-label" for="checkTerms">I have read and understood the Terms & Conditions.</label>
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>